@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/ProximaNova-Semibold.eot');
  src: local('../fonts/proxima/Proxima Nova Semibold'), local('ProximaNova-Semibold'),
  url('../fonts/proxima/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/ProximaNova-Semibold.woff2') format('woff2'),
  url('../fonts/proxima/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/proxima/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/ProximaNova-Bold.eot');
  src: local('../fonts/proxima/Proxima Nova Bold'), local('ProximaNova-Bold'),
  url('../fonts/proxima/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/ProximaNova-Bold.woff2') format('woff2'),
  url('../fonts/proxima/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/proxima/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/ProximaNova-Regular.eot');
  src: local('../fonts/proxima/Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('../fonts/proxima/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/proxima/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/proxima/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/ProximaNova-Extrabld.eot');
  src: local('../fonts/proxima/Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
  url('../fonts/proxima/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/ProximaNova-Extrabld.woff2') format('woff2'),
  url('../fonts/proxima/ProximaNova-Extrabld.woff') format('woff'),
  url('../fonts/proxima/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/ProximaNova-SemiboldIt.eot');
  src: local('../fonts/proxima/Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
  url('../fonts/proxima/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/ProximaNova-SemiboldIt.woff2') format('woff2'),
  url('../fonts/proxima/ProximaNova-SemiboldIt.woff') format('woff'),
  url('../fonts/proxima/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/ProximaNova-Light.eot');
  src: local('../fonts/proxima/Proxima Nova Light'), local('ProximaNova-Light'),
  url('../fonts/proxima/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/ProximaNova-Light.woff2') format('woff2'),
  url('../fonts/proxima/ProximaNova-Light.woff') format('woff'),
  url('../fonts/proxima/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/ProximaNova-Regular.eot');
  src: local('../fonts/proxima/Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('../fonts/proxima/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/proxima/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/proxima/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/ProximaNova-RegularIt.eot');
  src: local('../fonts/proxima/Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('../fonts/proxima/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/ProximaNova-RegularIt.woff2') format('woff2'),
  url('../fonts/proxima/ProximaNova-RegularIt.woff') format('woff'),
  url('../fonts/proxima/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: 400;
  font-style: Italic;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima/ProximaNova-Semibold.eot');
  src: local('../fonts/proxima/Proxima Nova Semibold'), local('ProximaNova-Semibold'),
  url('../fonts/proxima/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima/ProximaNova-Semibold.woff2') format('woff2'),
  url('../fonts/proxima/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/proxima/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

