@font-face {
  font-family: 'Agasu';
  src:  url('../fonts/agasu/Agasu.eot?ebzohv');
  src:  url('../fonts/agasu/Agasu.eot?ebzohv#iefix') format('embedded-opentype'),
    url('../fonts/agasu/Agasu.ttf?ebzohv') format('truetype'),
    url('../fonts/agasu/Agasu.woff?ebzohv') format('woff'),
    url('../fonts/agasu/Agasu.svg?ebzohv#Agasu') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Agasu' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-appeal:before {
  content: "\e926";
}
.ic-arrow-bottom:before {
  content: "\e927";
}
.ic-arrow-left:before {
  content: "\e928";
}
.ic-arrow-right:before {
  content: "\e929";
}
.ic-arrow-top:before {
  content: "\e92a";
}
.ic-calendar:before {
  content: "\e92b";
}
.ic-eye:before {
  content: "\e92c";
}
.ic-facebook:before {
  content: "\e92d";
}
.ic-instagram:before {
  content: "\e92e";
}
.ic-odnoklassniki:before {
  content: "\e92f";
}
.ic-place:before {
  content: "\e930";
}
.ic-play:before {
  content: "\e931";
}
.ic-search:before {
  content: "\e932";
}
.ic-telegram:before {
  content: "\e933";
}
.ic-user:before {
  content: "\e934";
}
.ic-vk:before {
  content: "\e935";
}
.ic-world:before {
  content: "\e936";
}
.ic-youtube:before {
  content: "\e937";
}
.ic-home:before {
  content: "\e900";
}
.ic-image:before {
  content: "\e901";
}
.ic-star:before {
  content: "\e902";
}
.ic-delete:before {
  content: "\e903";
}
.ic-delete-outline:before {
  content: "\e904";
}
.ic-heart:before {
  content: "\e905";
}
.ic-attachment:before {
  content: "\e906";
}
.ic-refresh:before {
  content: "\e907";
}
.ic-info-large:before {
  content: "\e908";
}
.ic-location-outline:before {
  content: "\e909";
}
.ic-star-outline:before {
  content: "\e90a";
}
.ic-mail:before {
  content: "\e90b";
}
.ic-heart-outline:before {
  content: "\e90c";
}
.ic-warning-outline:before {
  content: "\e90d";
}
.ic-zoom-out-outline:before {
  content: "\e90e";
}
.ic-zoom-in-outline:before {
  content: "\e90f";
}
.ic-business-card:before {
  content: "\e910";
}
.ic-arrow-up:before {
  content: "\e911";
}
.ic-arrow-right1:before {
  content: "\e912";
}
.ic-arrow-left1:before {
  content: "\e913";
}
.ic-arrow-down:before {
  content: "\e914";
}
.ic-flag-outline:before {
  content: "\e915";
}
.ic-phone-outline:before {
  content: "\e916";
}
.ic-box:before {
  content: "\e917";
}
.ic-write:before {
  content: "\e918";
}
.ic-clock:before {
  content: "\e919";
}
.ic-reply:before {
  content: "\e91a";
}
.ic-reply-all:before {
  content: "\e91b";
}
.ic-forward:before {
  content: "\e91c";
}
.ic-envelope:before {
  content: "\e91d";
}
.ic-camera:before {
  content: "\e91e";
}
.ic-image1:before {
  content: "\e91f";
}
.ic-cog:before {
  content: "\e920";
}
.ic-heart1:before {
  content: "\e921";
}
.ic-trophy:before {
  content: "\e922";
}
.ic-cancel:before {
  content: "\e923";
}
.ic-printer:before {
  content: "\e924";
}
.ic-cross:before {
  content: "\e925";
}
.ic-images:before {
  content: "\e938";
}
.ic-bubbles2:before {
  content: "\e96d";
}
.ic-bubble2:before {
  content: "\e96e";
}
.ic-warning:before {
  content: "\ea07";
}
.ic-notification:before {
  content: "\ea08";
}
.ic-info:before {
  content: "\ea0c";
}
.ic-cancel-circle:before {
  content: "\ea0d";
}
.ic-blocked:before {
  content: "\ea0e";
}
.ic-whatsapp:before {
  content: "\ea93";
}
